<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  
  <script>
  var myAppModule=angular.module('BookApp',[])
  var controllerRef = function($scope,$http)
  {
    var httpObj = $http.get("file:///C:/Users/roja/Desktop/roja%20ui/surya.ui/webpage/books.html");
    httpObj.success(function(response)) {
      $scope.books=response;
    });
  $scope.addBook = function()
    {
       
    }

    $scope.refreshBook= function()
    {

    }

    $scope.editBook = function()
    {

    }
    $scope.deleteBook = function()
    {
    
    }
  }
  
</script>
</head>
  <body>
  <div ng-app="BookApp">
  <div ng-controller="bookController">
  <div>{{statusmessage}}</div>
  <button ng-click="addBook()">addBook</button>
  <button ng-click="refreshBook()">refreshBook</button>
  
  
  <table style="border:1px solid grey;">
<div>
<tr>
<th>Id</th>
<th>Name</th>
<th>Author</th>
<th>Price</th>
<th></th>
<th></th>

</tr>
</div>
<tr ng-repeat="textbooks in books">
  <td>{{textbooks.id}}</td>
  <td>{{textbooks.name}}</td>
  <td>{{textbooks.author}}</td>
  <td>{{textbooks.price| currency}}</td>
  <td><a href="javascript:void(0)"
   ng-click="editBook(bookObj.bookId)">Edit</a></td>
     <td><a href="javascript:void(0)"
   ng-click="deleteBook(bookObj.bookId)">Delete</a></td>
  </tr>
</table>
</div>
</div>
</body>